{
  "presets": ["react", "es2015", "stage-0"],
  "plugins": [
    "transform-runtime", "transform-decorators-legacy",
    ["babel-plugin-module-alias", [
      { "src": "./src/config", "expose": "config" },
      { "src": "./src/app", "expose": "app" },
      { "src": "./src/app/shared", "expose": "shared" },
      { "src": "./src/app/state", "expose": "state" },
      { "src": "./src/app/scenes", "expose": "scenes" },
      { "src": "./src/app/components", "expose": "components" },
      { "src": "./src/server", "expose": "server" }
    ]]
  ],
  "env": {
    "production": {
      "presets": ["react-optimize"]
    }
  }
}
